.settings/
.buildpath
.project
.idea/
vendor/
composer.lock
/docs/samples/dst/*
!/docs/samples/dst/.gitkeep
/tests/Fixtures/dst/*
!/tests/Fixtures/dst/.gitkeep
/tests/Fixtures/flysystem/*
!/tests/Fixtures/flysystem/.gitkeep